.dogPage .dogSection{
display: flex;
gap: 2rem;
border: 1px solid gainsboro;
border-radius: 15px;
padding: 10px;
margin-top: 20px;
}

.dogPage .dogSection .mainimg{

    position: relative;
}

.dogPage .dogSection .mainimg .arleft{
    z-index: 10;
    background-color: #ffffff38;
    position: absolute;
    top: 40%;
    border-radius: 50%;
    left: 10px;
    cursor: pointer;
}

.dogPage .dogSection .mainimg .arright{
    
    cursor: pointer;
    background-color: #ffffff38;
    position: absolute;
    top: 40%;
    right: 20px;
    border-radius: 50%;  
    transform: rotate(180deg);
}

.dogPage .dogSection .sprightside{
    

}

.dogPage .dogSection .aimgs{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.dogPage .dogSection .aimgs img{
    max-width: 100px;
    border-radius: 5px;
    cursor: pointer;

}


.dogPage .dogSection .healthsec{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
    background-color: var(--color-secondary-MonYellow-40);
    font-family: var(--font-gilroy-semibold);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.dogPage .dogSection .sharesec{
    display: flex;
    align-items: center;
    font-family: var(--font-gilroy-bold);
    gap: 15px;
    margin-top: 25px;
    font-size: 1rem;
}
.dogPage .dogSection .socials{
    display: flex;
    gap: 15px;
}

.dogPage .dogSection .sharesec img{
    cursor: pointer;
    filter: grayscale(100%) opacity(60%);
}

/* info side */

.dogPage .sprightside{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.dogPage .sprightside p {
    font-family: var(--font-gilroy-semibold);
    font-size: 0.9rem;
    color: var( --color-swatch-40);
    letter-spacing: 0.6px;
}

.dogPage .sprightside h3{
    font-family: var(--font-gilroy-bold);
    font-size: 2rem;
    color: var( --color-swatch-100);
}
.dogPage .sprightside h3:last-of-type{
    font-family: var(--font-gilroy-bold);
    font-size: 2rem;
    color: var(--color-primary-darkblue-80);
}

.dogPage .sprightside .btnsgpp{
    display: flex;
    align-items: center;
    gap: 12px;
}

.dogPage .sprightside .btnsgpp button:first-of-type{
    background-color: var(--color-primary-darkblue-80);
    color: white;
    font-family: var(--font-gilroy-semibold);
    padding:  12px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.dogPage .sprightside .btnsgpp button:last-of-type{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:  6px 25px;
    border-radius: 25px;
    font-family: var(--font-gilroy-bold);
    gap: 10px;
    color: var(--color-primary-darkblue-80);
    background-color: transparent;
    border: 2px solid var(--color-primary-darkblue-80);
}

.dogPage .sprightside table td {
    text-align: left;
    border-bottom: 1px solid var(--color-swatch-40);
}

.dogPage .sprightside table p{
    margin-bottom: 10px;
    margin-top: 10px;
}
@media (max-width:861px) {
    
    .dogPage .dogSection{
        flex-direction: column;
    }
    .dogPage .dogSection .maini{
        width: 100%;
    }
}


@media (max-width:558px){
    .dogPage .dogSection .aimgs img{
        max-width: 60px;
    }
}

@media (max-width:371px){
    .dogPage .dogSection .aimgs img{
        max-width: 50px;
    }
}
