.container{
    width: 80%;
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}


.colored {
    background: linear-gradient(to right, #FCEED5 6%, #FCEED5 75%, #FFE7BA 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dogsSection{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
    display: grid;
    justify-items: center;
    
}



@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
    
}


.dogknowledgesection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

