.addDogForm{
   width: 100%;
}
.addformheader{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}

.addformheader .ad-h3{
    color: var(--color-primary-blueviolet);
    font-family: var(--font-family);
}
.addformheader .ad-btg{
    display: flex;
    gap: 20px;
    align-items: center;
}
.addformheader .ad-btg button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.addformheader .ad-btg button:last-of-type{
color: white;
background-color: var(--color-primary-blueviolet);
}

.dogpage .addDogForm hr{
    margin-bottom: 10px;
    border: 0;
    height: 2px;
    background-color: #bdc8d433;
}

.addDogForm .ad-doginfo{
    padding: 10px;
    
    
}
.ad-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.addDogForm .ad-inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid rgba(54, 53, 53, 0.075);
    
    border-radius: 10px;
}
.ad-input-group {
    flex-basis: 300px;
    flex-grow: 2;
    padding: 10px;
}
.ad-input-group span{
    display: block;
}
.ad-input-group input,
.ad-input-group select{
    border: none ;
    background-color: rgba(80, 78, 75, 0.094);
    height: 2.5rem;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.ad-input-group input:focus,
.ad-input-group select:focus{
    outline: none;
}

.ad-ck-box{
    padding:10px;
    width: 100%;
}
.ad-moreinfo{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.ad-moreinfo .ad-checkout{
    border: 1px solid rgba(54, 53, 53, 0.075);
    border-radius: 10px;
    padding: 10px;
}
.ad-moreinfo .ad-checkout .ad-checkout-box{
display: flex;
gap: 15px;
}
.addse{
    width: 50%;
}


.ad-moreinfo .ad-checkout p {
    font-weight: bold;
}

.ad-moreinfo .ad-checkout .ad-checkout-box input,
.ad-moreinfo .ad-checkout .ad-checkout-box label
{
    cursor: pointer;
}

.ad-ad-infobox{
    padding: 10px;
    border: 1px solid rgba(54, 53, 53, 0.075);
    border-radius: 10px;
    min-height: 150px;
    width: 100%;

}
.ad-ad-info{
    flex-grow: 2;
}
.ad-ad-infobox input{
    border: none ;
    background-color: rgba(80, 78, 75, 0.094);
    height: 2.5rem;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
}
.ad-ad-infobox button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
background-color: var(--color-primary-blueviolet);
margin-left: 10px;
}

.ad-tags{
    width: 90%;
    min-height: 80px;
    border-radius: 10px;
    background-color: rgba(80, 78, 75, 0.023);
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    gap: 3px;
    flex-wrap: wrap;
    padding: 10px;
}
.ad-additionItem{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(80, 78, 75, 0.162);
}

.ad-additionItem svg{
cursor: pointer;
color: gray;
}
@media (max-width:714px) {
    .ad-moreinfo{
        flex-wrap: wrap;
    }
}

/* drag drop section */

.ddp-card{
    padding: 10px;
}

.ddp-top{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.drag-area{
    height: 200px;
    border-radius: 5px;
    border: 2px dashed #6d31ed;
    background-color: #6d31ed1a;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    flex-direction: column;
    gap: 10px;

}

.ddp-card input{
    display: none;
}

.ddp-select{
    padding: 5px 10px;
    color: #6d31ed;
    border: 1px solid #6d31ed;
    border-radius: 5px;
    cursor: pointer;
}