
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: "Poppins", sans-serif;
    /* Light primary color */      
    --color-primary-blue: #15abff;  
    --color-primary-blueviolet: #6d31ed; 
    --color-primary-neutral-500:#9095A1FF; 

    /* Secondary Colors  */
    --color-secondary-MonYellow-40: #FCEED5; 
    --color-secondary-MonYellow-60: #F7DBA7;      
    --color-secondary-MonYellow-80: #F1D092;  
    --color-secondary-dark: #EEC77E; 
}