.dogpage{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    position: relative;
}

.dogpage .sectiontitle{
    font-size: 1rem;
    padding:10px 20px;
    color: var(--color-primary-blueviolet);
    min-width: 100%;
box-shadow:  0px 0px 2px hsla(218, 15%, 11%, 0.302);
position: relative;
}

.dogpage .dogleftside{
    flex-grow: 2;
    padding-right:10px;
}
.dogpage .search{
    padding:10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dogpage .dogleftside .searchinput{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(144, 149, 161, 0.11);
}

.dogpage .dogleftside .searchinput input {
    border: none;
    background-color: rgba(144, 149, 161, 0.023);
    min-width: 300px;
    height: 25px;
}
.dogpage .dogleftside .searchinput input:focus{
    border: none;
    outline: none;
}

.dogpage .dogleftside .search button{
    background-color: var(--color-primary-blueviolet);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.dogpage .dogleftside .dogsTable{
    padding: 10px 0 10px 20px;
    
}

.dogpage .dogleftside .dogsTable table{
    width: 100%;
    text-align: left;
    box-shadow:  0px 0px 2px hsla(218, 15%, 11%, 0.302);
    border-radius: 10px;
    border: 0px ;
    padding: 0;
    overflow: hidden;
    border-collapse: collapse;
}

.dogpage .dogleftside .dogsTable  table th{
    background-color: rgba(144, 149, 161, 0.11);
               
    text-transform: uppercase; 
    letter-spacing: 1px;
    border: none;
    padding: 10px 10px;
}

.dogpage .dogleftside table tbody  td{
    padding: 5px 5px;
    text-transform:capitalize;
    border-bottom: solid 0.1px hsla(218, 14%, 11%, 0.075);
    cursor: pointer;
    
}

.dogpage .dogleftside table tbody  tr:hover{
    background-color:hsla(218, 14%, 11%, 0.032) ;
}

.dogpage .dogleftside table td img{
    max-width: 50px;
}

.dogpage .db-status{
    background-color: rgba(137, 43, 226, 0.091);
    color: var(--color-primary-blueviolet);
    padding: 2px 5px;
    border-radius: 9px;
}
.dogpage .db-category{
    background-color: rgba(10, 216, 243, 0.043);
    color: rgb(0, 225, 255);
    padding: 2px 5px;
    border-radius: 9px;
}
/*right side */

.dogpage .rightside{
    max-width: 30%;
    box-shadow:  0px 0px 2px hsla(218, 15%, 11%, 0.302);
    flex-grow: 2;
}
.dogpage .rightside hr{
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0;
    height: 2px;
    background-color: #bdc8d433;
}
.dp-rs-header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    position: relative;
}
.dp-img{
display: flex;
justify-content: center;
}
.dp-img img{
    width: 90%;
    height: 250px;
}

.dp-text {
    margin: 15px;
    
}
.dp-text h3{
font-size: 1rem;
font-weight: bold;
border-bottom:5px Solid black ;
width: fit-content;
}
.dp-text .dp-text-ln{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.dp-text .dp-text-ln p:first-of-type{
    font-weight: bold;
}

.dp-points,
.db-cross{
    cursor: pointer;
    color: rgb(175, 174, 174);
    
}
.dp-points:hover,
.db-cross:hover
{
    
    color: rgb(61, 61, 61);
    
}

.db-more{
    position: absolute;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    box-shadow:  0px 0px 2px hsla(218, 15%, 11%, 0.302);
    overflow: hidden;
    top: 40px;
    

}
.db-more div{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: .3px solid gainsboro;
    cursor: pointer;
    
}
.db-more div:hover{
    background-color: rgba(128, 128, 128, 0.068);
}

@media (max-width:1070px) {
    .dogpage .dogleftside .searchinput input{
        min-width: auto;
    }
    .dogpage .dogleftside .searchinput{
        flex-grow: 2;
    }
    .dogpage .search{
        gap: 10px;
    }
}

@media (max-width:720px) {
    .dogpage .rightside{
        position: fixed;
        background-color: white;
        max-width: 400px;
        z-index: 2;
    }
}