.forgetPassword{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fg-div{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fg-div img{
    width: 200px;
}

.fg-div button{
    width: 100%;
    background-color: var(--color-primary-blueviolet);
    color: white;
    font-weight: bold;
    
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
}