.product-Page{
  
    width: 100%;
}

.product-Page .pp-sectiontitle{
    font-size: 1rem;
    padding:10px 20px;
    color: var(--color-primary-blueviolet);
    min-width: 100%;
box-shadow:  0px 0px 2px hsla(218, 15%, 11%, 0.302);
position: relative;
}
.pp-search{
    padding:10px 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pp-searchinput{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(144, 149, 161, 0.11);
    flex-basis: 50%;
    border-radius: 10px;
}

.pp-searchinput input {
    border: none;
    background-color: rgba(144, 149, 161, 0.023);
    min-width: 300px;
    height: 25px;
}

.pp-searchinput input:focus{
    border: none;
    outline: none;
}

.pp-search button{
    background-color: var(--color-primary-blueviolet);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.product-Page .ProductsTable{
    padding: 10px 0 10px 20px;
}

.product-Page .ProductsTable table{
    width: 100%;
    text-align: left;
    box-shadow:  0px 0px 2px hsla(218, 15%, 11%, 0.302);
    border-radius: 10px;
    border: 0px ;
    padding: 0;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 10px;
}

.product-Page .ProductsTable table th{
    background-color: rgba(144, 149, 161, 0.11);
    text-transform: uppercase; 
    letter-spacing: 1px;
    border: none;
    padding: 10px 10px;
}

.product-Page .ProductsTable table tbody  td{
    padding: 3px 3px;
    text-transform:capitalize;
    border-bottom: solid 0.1px hsla(218, 14%, 11%, 0.075);
}

.product-Page .ProductsTable table tbody  tr:hover{
    background-color:hsla(218, 14%, 11%, 0.032) ;
}

.product-Page .ProductsTable  table td img{
    max-width: 50px;
}

.product-Page .db-status{
    background-color: rgba(137, 43, 226, 0.091);
    color: var(--color-primary-blueviolet);
    padding: 2px 5px;
    border-radius: 9px;
}

.product-Page  .pointer{
    cursor: pointer;
    font-size: 12px;
}