.ressetpasswor{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rest-sec{
    min-width: 40%;
    
}

.ressetpasswor .logo{
    position: absolute;
    top: 10px;
    left: 10px;
}
.ressetpasswor .rest-top-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ressetpasswor .rest-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.ressetpasswor .rest-sec img{
width: 150px;
}
.ressetpasswor .rest-sec .rest-top-sec p{
font-size: 10px;
}
.ressetpasswor .restpsswgrp{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ressetpasswor .rest-inpu-group .rst-input{
width: 100%;
height: 40px;
border: 2px solid rgb(0, 0, 0);
display: flex;
border-radius: 50px;
overflow: hidden;
padding: 10px;
}

.ressetpasswor .rest-inpu-group input{
    border: none;
    outline: none;
    flex-grow: 1;
    
}


.ressetpasswor .pswd-strngt {
    font-size: 10px;
    margin-top: 10px;
    color: gray;
}
.ressetpasswor .pswd-strngt span{
    font-weight: bold;
}

.ressetpasswor button{
    height: 40px;
    background-color: var(--color-primary-blueviolet);
    color: white;
    font-weight: bold;
    
    border-radius: 10px;
   
    cursor: pointer;
}

.ressetpasswor .rest-psdd{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.ressetpasswor .rest-psdd .box{
    max-width: 100px;
    height: 5px;
    flex-grow: 1;
    
    background-color: green;
}